.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hero {
  display: flex;
  justify-content: center;
  margin-top: 12em;
  width: 100%;
  height: 100%;
}

.hero_text {
  position: absolute;
  font-size: 48px;
  background: rgba(0, 0, 0, 0);
}

.hero_text2 {
  font-size: 18px;
  font-weight: lighter;
  color: #B8B8B8;
  background: rgba(0, 0, 0, 0);
}

.scroll_indicator {
  margin-top: -18em;
}

// Media queries
@media(max-width: 350px) {
  .hero_text {
    font-size: 34px;
  }
  .hero_text2 {
    font-size: 12.75px;
  }
}

@media(max-width: 250px) {
  .hero_text {
    font-size: 30px;
  }
  .hero_text2 {
    font-size: 11.25px;
  }
}

@media(min-width: 749px) {
  .hero {
    margin-top: 12em;
    margin-left: 6em;
    justify-content: flex-start;
  }
  .hero_text {
    font-size: 60px;
  }
  .hero_text2 {
    font-size: 22.5px;
  }
}

@media(min-width: 1000px) {
  .hero {
    margin-top: 12em;
    margin-left: 8em;
  }
  .hero_text {
    font-size: 96px;
  }
  .hero_text2 {
    font-size: 36px;
  }
}

