.scroll_progress_background {
  position: fixed;
  background: #101638;
  width: 100vw;
  height: 0.4em;
  left: 0;
  top: 0;
}

.scroll_progress {
  position: fixed;
  background: #EF008A;
  width: 80vw;
  height: 0.4em;
  left: 0;
  top: 0;
}
