@keyframes fadein_nav_menu {
  from {opacity: 0%;}
  to {background: rgba(0, 0, 0, 0.4); visibility: visible; z-index: initial;}
}

@keyframes fadeout_nav_menu {
  from {opacity: 40%; }
  to {background: rgba(0, 0, 0, 0.0); visibility: hidden; z-index: -1;}
}

@keyframes navlink_mobile_enter {
  from { opacity: 0%; transform: translateY(100vh); }
  to { opacity: 100%; transform: translateY(0); }
}

@keyframes navlink_mobile_exit {
  from { opacity: 100%; transform: translateY(0); }
  to { opacity: 0%; transform: translateY(-100vh); }
}

@keyframes hamburger_enter {
  from { opacity: 0%; transform: translateX(100vh); }
  to { opacity: 100%; transform: translateX(0); }
}

@keyframes hamburger_exit {
  from { opacity: 100%; transform: translateX(0); }
  to { opacity: 0%; transform: translateX(100vh); }
}

// Nav menu
.mobile_nav_menu {
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.mobile_nav_menu_active {
  animation-name: fadein_nav_menu;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.mobile_nav_menu_hidden {
  animation-name: fadeout_nav_menu;
  animation-delay: 500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}


// Hamburger button
.hamburger_menu {
  display: none;
  height: 2.5em;
  width: 2.5em;
  animation-delay: 50ms;

  &:hover {
    cursor: pointer;
  }
}

.hamburger_menu_active {
  animation-name: hamburger_enter;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.hamburger_menu_hidden {
  animation-name: hamburger_exit;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}


// Nav container
.background {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0);
  left: 0;
  width: 100vw;
  height: 5em;
  z-index: 900;
  height: 10em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

// Navbar
.navbar_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  max-width: 1700px;
  margin: auto;
  padding: 0 5%;
}

.navbar {
  user-select: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  margin-top: 1em;
}

// Nav links
.navlink_desktop {
  color: #898A8C;
  text-decoration: none;
  padding: 0 0 0 2em;
}

.navlink_mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #10182C;
  color: #898A8C;
  height: 12%;
  margin-bottom: -1px;
  opacity: 0%;

  * {
    margin-left: 1em;
  }
}

.nav_icon {
  background: #10182C;
  fill: #4C5874;
}

// Mobile navlinks
.navlink_mobile_active {
  animation-name: navlink_mobile_enter;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.navlink_mobile_hidden {
  animation-name: navlink_mobile_exit;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

.navlink_container {
  font-size: 2.4ch;
  display: flex;
  flex-direction: column;
}

.navlink_underline {
  background: #EF008A;
  margin-top: 0.25em;
  width: 6em;
  height: 0.15em;
  border-radius: 8%;
  transition: 300ms;
}

// Mobile
@media(max-width: 750px) {
  .navlink_container {
    display: none;
  }
  .hamburger_menu {
    display: initial;
  }
  .mobile_nav_menu {
    display: initial;
  }
}

@media(min-width: 1900px) {
  .navbar_container {
    padding: 0 calc((100% - 1700px) / 2);
  }
}
