.hamburger_menu {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; 
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 5em;
}

.navlink_text {
  color: #898A8C;
  text-decoration: none;
  padding: 0 1em 0 1em;
}

.navlink_container {
  display: flex;
  justy-content: space-between;
  align-items: center;
}

// Mobile
@media(max-width: 750px) {
  .navlink_container {
    display: none;
  }
  .hamburger_menu {
    display: initial;
  }
}
