@keyframes fadein_nav_menu {
  from {opacity: 0%;}
  to {background: rgba(0, 0, 0, 0.4); visibility: visible; z-index: initial;}
}

@keyframes fadeout_nav_menu {
  from {opacity: 40%; }
  to {background: rgba(0, 0, 0, 0.0); visibility: hidden; z-index: -1;}
}

@keyframes navlink_mobile_enter {
  from { transform: translateY(100vh); }
  to { transform: translateY(0%); }
}

.mobile_nav_menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
}

.mobile_nav_menu_active {
  animation: fadein_nav_menu 500ms forwards;
}

.mobile_nav_menu_hidden {
  animation: fadeout_nav_menu 500ms forwards;
}

.hamburger_menu {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; 
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 5em;
}

.navlink_desktop {
  color: #898A8C;
  text-decoration: none;
  padding: 0 1em 0 1em;
}

.navlink_mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #10182C;
  color: #898A8C;
  width: 100%;
  height: 15%;
  animation-delay: 500ms;
  animation: navlink_mobile_enter 1000ms backwards ease-in;
}

.navlink_container {
  display: flex;
  justy-content: space-between;
  align-items: center;
}

// Mobile
@media(max-width: 750px) {
  .navlink_container {
    display: none;
  }
  .hamburger_menu {
    display: initial;
  }
  .mobile_nav_menu {
    display: initial;
  }
}
