@keyframes p_dot_fade_in {
  from {background: #57618D;}
  to {background: #151E34;}
}

@keyframes p_dot_fade_out {
  from {background: #151E34;}
  to {background: #57618D;}
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 48em;
  margin-top: 16em;
}

.title {
  margin: 1.5em 0;
  font-size: 48px;
  color: #DBDBDB;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.inner_container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.c_button {
  width: 3.4em;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: 200ms;
  
  &:hover {
    cursor: pointer;
    transform: scale(1.2);

    * {
      fill: #5E6998;
    }
  }
}

.p_button {
  @extend .c_button;
  width: 2em;
  padding-right: 2em;
}

.p_buttonL {
  @extend .p_button;
  transform: rotate(180deg);

  &:hover {
    transform: rotate(180deg) scale(1.2);
  }
}

.c_buttonL {
  @extend .c_button;
  transform: rotate(180deg);

  &:hover {
    transform: rotate(180deg) scale(1.2);
  }
}

.content {
  width: calc(100% - 6.8em);
  height: 100%;
  background: black;
}

.navigation {
  width: 100%;
  height: 12em;
  background: red;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12em;

  * {
    margin: 0 0.2em;
  }
}

.p_dot {
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background: #151E34;
  animation-name: p_dot_fade_in;
  animation-duration: 300ms;
  animation-direction: forwards;
}

.p_dot_active {
  @extend .p_dot;
  background: #57618D;
  animation-name: p_dot_fade_out;
  animation-duration: 300ms;
  animation-direction: forwards;
}

@media(max-width: 750px) {
  .c_button {
    display: none;
  }
  .p_button {
    display: initial;
  }
  .content {
    width: 100%;
  }
}

@media(min-width: 751px) {
  .p_button {
    display: none;
  }
}
